/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
    font-family: "Roboto";
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  /* Reset ends here*/

/* Custom Font */
@font-face {
  font-family: 'Roboto';
  src: url('font-roboto/Roboto-Regular.woff2') format('woff2'),
      url('font-roboto/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

  /* 
  Making the page layout
  2x2 grid
  */

.body-container{
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 5fr;
  grid-template-areas:
  "dashboard header"
  "dashboard main";
}

.dashboard{
  grid-area: dashboard;

  background-color:aqua;

  border: 1px solid red;
}

.nav > ul > li, .nav-2 > ul > li{
  display: grid;
  grid-template-columns: 1fr 2fr;

}


.header{
  grid-area: header;

  border: 1px solid black;
}


.header > div{
  display: flex;
}

.main{
  grid-area: main;

  border: 1px solid green;
}

.main {
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "user-projects announcements"
  "user-projects trending";
}

.user-projects{
  grid-area: user-projects;

  display: grid;
}

.cards{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cards .card{
  border: 1px solid red;
}

.announcements{
  grid-area: announcements;
}

.trending{
  grid-area: trending;
}

/* 
Styling
*/

ul{
  list-style: none;
}

.dashboard svg {
  fill: white;
  width: 100%;
}